<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form Validation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h1>Add Customer</h1>
        <form class="white">
            <h5 class="gret text text-darken-3">Sign Up</h5>
            <div class="input-field">
                <label htmlFor="firstName">First Name</label>
                <input type="text" id="firstName" required>
            </div>
            <div class="input-field">
                    <label htmlFor="lastName">Last Name</label>
                    <input type="text" id="lasttName" required>
            </div>
        </form>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>